server:
  port: 8080

spring:
  application:
    name: Expense-Tracker

  datasource:
    url: jdbc:mysql://localhost:3306/ex_tracker?useUnicode=yes&characterEncoding=UTF-8&characterSetResults=UTF-8&createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        connection:
          characterEncoding: utf-8
          CharSet: utf-8
          useUnicode: true
        default_batch_fetch_size: 20
        enable_lazy_load_no_trans: true
